/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#index-btn-group {
  width : 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.short-way-input-label {
	text-align: right;
	padding-right: 7px;
}

.short-way-input {
	width: 600px;
}

.node-shortway {
  stroke: #fff;
  stroke-width: 0px;
}

.link-shortway {
  stroke: #999;
  stroke-opacity: .6;
}
